@{
    ViewBag.Title = "About";
}
<br />
ViewData => ID = @ViewData["ID"]
<br />
ViewBag => ID = @ViewBag.Id
<br />
TempData => ID = @TempData["ID"]
<br />

<p>Use this area to provide additional information.</p>
